---
faq:
  - question: What is MIPA?
    answer: The Modern Indirect Provider Assessment (MIPA) is an exercise in understanding where on the modern partner transformation journey Microsoft's indirect CSP providers - distrubtors - are. It covers a broad range of services and capabilities influenced by industry research, reseller feedback and professional experience.
  - question: What's in it for me?
    answer: Completing a MIPA assessment twice a year brings many benefits. You'll gain a deeper understanding of your strengths and opportunities through the consultation with your Microsoft team. You'll gain clarity over where to make strategic bets on investing resources, developing services or solutions, etc. to make the biggest impact on your reseller channel. You'll also develop stronger and deeper relationships with your Microsoft team. Lastly, you'll be contributing to the indirect provider community.
  - question: What happens with my MIPA returns?
    answer: We're committed to ensuring sensitivity over the distribution of the results. We do not share identifiable results publicly, although we do share redacted insights and industry averages. The output from these assessments is used to empower and enrich the business planning process to provide focus - it isn't used to benchmark or rank against other indirect providers.
  - question: What about other assessment frameworks like PTI, MDPA, etc.?
    answer: Some Microsoft Partners hold many statuses besides being an indirect CSP provider. MIPA is a separate exercise which relates purely to the indirect CSP provider side of any business. It isn't superceded or replaced by any other assessment framework. Therefore, if you are an indirect CSP provider you should complete MIPA alongside anything else.
  - question: Can I change the results or re-run the assessment?
    answer: Typically, we run the MIPA assessment twice a year. This is to give a snapshot of progress throughout the year, and to avoid overheards in doing it too often. It is, however, a snapshot in time. Scores will change throughout the year as new capabilities are brought to market. You should work with your Microsoft team to regularly review progress against any goals identified through MIPA. The official returns will only be captured and updated twice per year.
---

<h1>FAQ</h1>

<section class="faq">
	<ul>
		{% for item in page.faq %}
			<li><a href="#{{ item.question | slugify }}">{{ item.question }}</a></li>
		{% endfor %}
	</ul>

	{% for item in page.faq %}
		<h2 id="{{ item.question | slugify}}">{{ item.question }}<a class="header-link" href="#{{ item.question | slugify }}">#</a></h2>
		{{ item.answer | markdownify }}
	{% endfor %}
</section>